* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/bedge_grunge.png);
    font-family: 'Luckiest Guy', cursive;
}

#title {
    text-align: center;
    font-size: 4vw;
    color: rgb(13, 187, 13);
}

.container-fluid {
    background-image: url(../images/leather.png);
    width: 100%;
    margin-bottom: 25px;
    position: fixed;
    top: 0px;
    z-index: 2;
}

#buttons-view {
    width: 75%;
    float: left;
}

.image-search {
    width: 20%;
    float: left;
}

.image-area {
    position: relative;
    top: 150px;
}

.imgBox {
    filter: brightness(80%);
    float: left;
    text-align: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
}

.imgBox:hover {
    filter: brightness(100%);
    transform: scale(1.2);
    z-index: 9;
    box-shadow: 5px 5px 5px #555;
}

#ratingText {
    background-color: #337ab7;
    color: #fff;
    width: 100%;
    margin-top: 2px;
}

.image-search, {
    width: 20%;
    float: right;
}

#cartoon-input {
    border-radius: 3px;
    margin-top: 10px;
}

::placeholder {
    color: #ccc;
}

#add-cartoon {
    background-color: #2e6da4;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

button, .btn {
    border-radius: 5px;
    margin: 10px;
}

#add-button:hover {
    box-shadow: 2px 2px 2px #ccc;
}

@media only screen and (min-width: 769px) and (max-width: 980px){
    #buttons-view {
        width: 75%;
        float: left;
    }
    .image-search {
        width: 20%;
    }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
    #buttons-view, .image-search {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    #buttons-view, .image-search {
        width: 100%;
    }
}